---
interface Props {
  logo: string;
  name: string;
  dates: string;
}
const { logo, name, dates } = Astro.props;
---

<div class="flex flex-row items-center w-full p-2 my-2 rounded-full transparencia sm:px-0 sm:w-fit h-fit sm:mt-11 sm:relative sm:rounded-none sm:justify-center sm:bg-[#00000000]">
  <img
    class="rounded-full w-16 flex place-self-start sm:w-24 sm:block sm:absolute sm:-top-1/3"
    src={logo}
    alt={name + " logo"}
  />
  <div
    class="text-center w-full sm:m-0 sm:p-4 sm:pt-11 sm:rounded-lg sm:transparencia"
  >
    <span>{name}</span> <br>
    <span>{dates}</span>
  </div>
</div>