---
interface Props {
  logo: string;
  name: string;
  career: string;
  dates: string;
}
const { logo, name, career, dates } = Astro.props;
---

<div class="flex flex-row items-center w-full p-2 my-2 rounded-full bga sm:px-0 sm:w-fit h-fit sm:mt-12 sm:relative sm:rounded-none sm:justify-center sm:bg-[#00000000]">
  <img
    class="rounded-full w-[4.75rem] flex place-self-start sm:w-24 sm:block sm:absolute sm:-top-1/4"
    src={logo}
    alt={name + " logo"}
  />
  <div
    class="text-center text-[--fonta] min-w-[10rem] w-full sm:m-0 sm:p-4 sm:pt-12 sm:rounded-lg sm:bga"
  >
    <span class="text-lg">{name}</span> <br>
    <span class="font-[GeologicaL]">{career}</span> <br>
    <span class="font-[GeologicaL]">{dates}</span>
  </div>
</div>