---

---

<div class="text-base text-pretty">
  <p>
    A los 12 años comencé a programar con C++, HTML, CSS y JavaScript. Desde
    entonces, he estado inmerso en el mundo de la informática, creando software,
    solucionando problemas de hardware, jugando con routers, probando sistemas
    Linux y explorando la ciberseguridad, todo mientras asistía a una escuela
    secundaria técnica en informática.
  </p>
  <p>
    Suelo enseñar a mis amigos varios de los conocimientos que poseo sobre la
    informatica, ya que cuando sé del tema tambien sé como compartir esos
    conocimientos con otros.
  </p>
  <p>
    
  </p>
</div>
