---
import { Banner } from "@/components";
---

<div class="flex flex-col justify-around items-center sm:flex-wrap sm:flex-row ">
  <Banner
    logo="/assets/imgs/JoseHernandez.webp"
    name="José Hernández"
    dates="2016 - 2023"
  />
  <Banner
    logo="/assets/imgs/MasterChoice.webp"
    name="Master Choice"
    dates="2024 - Act"
  />
</div>
    