---
import { Banner } from "@/components";
---

<div class="flex flex-col justify-around items-center sm:flex-wrap sm:flex-row ">
  <Banner
    logo="/assets/imgs/JoseHernandez.webp"
    name="José Hernández"
    career="Tec Informática"
    dates="Mar 2016 - Dic 2023"
  />
  <Banner
    logo="/assets/imgs/UTN.webp"
    name="UTN"
    career="Tec Programación"
    dates="Mar 2024 - Act"
  />
  <Banner
    logo="/assets/imgs/MasterChoice.webp"
    name="Master Choice"
    career="English"
    dates="Mar 2024 - Act"
  />
</div>
    