---
import { Experience } from "@/components";
---

<div
  class="flex flex-col justify-center items-center sm:flex-wrap sm:flex-row sm:gap-2 sm:items-start"
>
  <Experience
    imgSrc="/assets/imgs/JoseHernandez.webp"
    title="José Hernández"
    position="Desarrollador Full Stack"
    client:only="react"
  >
    <p>
      Durante mi pasantía como desarrollador Full Stack, participé en el
      desarrollo colaborativo de un sistema de consultas. En el frontend,
      utilicé HTML, CSS, Bootstrap y JavaScript con Axios para la comunicación
      con el servidor. En la parte funcional del sistema, trabajé con Java
      Spring Boot y una base de datos MySQL para garantizar la funcionalidad del
      sistema.
    </p>
  </Experience>
  <Experience
    imgSrc="/assets/imgs/VivenciasBaires.webp"
    title="Vivencia Baires"
    position="Desarrollador Full Stack"
    client:only="react"
  >
    <p>
      Durante mi trayectoria como desarrollador Full Stack, me he especializado
      en la creación de interfaces de usuario reactivas y adaptables. En el
      frontend, he empleado TypeScript, NextJS, React y TailwindCSS para
      diseñar, maquetar, desarrollar e implementar estrategias centradas en la
      experiencia del usuario. En el backend, mi enfoque principal ha sido el
      desarrollo de APIs RESTful utilizando Java Spring Boot o NestJS con
      TypeScript. Además, he implementado medidas de seguridad utilizando JWT
      para la gestión de sesiones, y he trabajado con bases de datos MongoDB.
    </p>
  </Experience>
</div>
