---
import { ProjectAccordion } from "@/components";
---

<div
  class="flex flex-col justify-center w-full items-center sm:grid sm:grid-cols-2 sm:items-start sm:gap-3"
>
  <ProjectAccordion
    preview="https://raw.githubusercontent.com/brunojardon/DebianUpgrader/main/preview.webp"
    title="Debian Upgrader"
    repo="https://github.com/brunojardon/DebianUpgrader"
    client:only="react"
  >
    He realizado un script que automatiza el proceso de actualización de un
    sistema basado en Debian, incluida la actualización de repositorios,
    instalación de actualizaciones de paquetes, resolución de dependencias y
    limpieza de archivos temporales. También proporciona la opción de reiniciar
    el sistema si es necesario después de la actualización.
  </ProjectAccordion>
  <ProjectAccordion
    preview="https://raw.githubusercontent.com/brunojardon/DebianUpgrader/main/preview.webp"
    title="Debian Upgrader"
    repo="https://github.com/brunojardon/DebianUpgrader"
    client:only="react"
  >
    He realizado un script que automatiza el proceso de actualización de un
    sistema basado en Debian, incluida la actualización de repositorios,
    instalación de actualizaciones de paquetes, resolución de dependencias y
    limpieza de archivos temporales. También proporciona la opción de reiniciar
    el sistema si es necesario después de la actualización.
  </ProjectAccordion>
  <ProjectAccordion
    preview="https://raw.githubusercontent.com/brunojardon/DebianUpgrader/main/preview.webp"
    title="Debian Upgrader"
    repo="https://github.com/brunojardon/DebianUpgrader"
    client:only="react"
  >
    He realizado un script que automatiza el proceso de actualización de un
    sistema basado en Debian, incluida la actualización de repositorios,
    instalación de actualizaciones de paquetes, resolución de dependencias y
    limpieza de archivos temporales. También proporciona la opción de reiniciar
    el sistema si es necesario después de la actualización.
  </ProjectAccordion>
  <ProjectAccordion
    preview="https://raw.githubusercontent.com/brunojardon/DebianUpgrader/main/preview.webp"
    title="Debian Upgrader"
    repo="https://github.com/brunojardon/DebianUpgrader"
    client:only="react"
  >
    He realizado un script que automatiza el proceso de actualización de un
    sistema basado en Debian, incluida la actualización de repositorios,
    instalación de actualizaciones de paquetes, resolución de dependencias y
    limpieza de archivos temporales. También proporciona la opción de reiniciar
    el sistema si es necesario después de la actualización.
  </ProjectAccordion>
</div>
