@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color scheme */
:root {
  color-scheme: light dark;

  /* Color palette */
  --gradient-color-a: #7a7a7f;
  --gradient-color-b: #0e2b3d;

  --font-color-a: #080808;
  --bg-color-a: rgb(196 196 206 / 0.57);

  --font-color-b: #f0f0f0;
  --bg-color-b: rgb(17 37 51 / 0.57);
}

/* Global styles */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  overflow-x: hidden;
}

body,
button {
  font-family: "Geologica Variable", sans-serif;
  color: var(--font-color-b);
}

button {
  user-select: none;
}

h2 {
  font-weight: 500;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  padding-top: 3.75rem;
  margin-bottom: 1.5rem;
}

img {
  user-select: none;
}

p {
  text-wrap: pretty;
}

/* Underscore style */
.underscore {
  position: relative;
  overflow: hidden;
}

.underscore::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 0.15em;
  background-color: #f0f0f0;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.underscore:hover::after {
  transform: translateX(0);
}

/* Theme styles */
@media (prefers-color-scheme: light) {
  body,
  button {
    color: var(--font-color-a);
  }
}

@media (prefers-color-scheme: dark) {
  body,
  button {
    color: var(--font-color-b);
  }
}

/* Tailwind CSS repetitive styles */
@layer components {
  .paragraph {
    @apply indent-2 mb-2 text-pretty;
  }

  .btn,
  button {
    @apply cursor-pointer transition-transform duration-300 hover:scale-110 active:scale-95 ease-in;
  }

  .project-link-btn {
    @apply inline-block bg-background-b rounded-md px-2 py-1 text-font-b text-sm mt-2 sm:mt-0;
  }

  .expand-btn {
    @apply flex justify-center items-center mx-auto w-6 h-6 animate-pulse rounded-full [&>*:last-child]:absolute;
  }

  .expand-btn-line {
    @apply bg-font-a transition-all duration-500 h-1 w-6 rounded-sm;
  }

  .education-card {
    @apply bg-background-a flex flex-row justify-between h-24 items-center p-2 my-3 text-center rounded-full text-font-a sm:mx-2 sm:h-auto sm:flex sm:flex-col sm:relative sm:rounded-md mt-10;
  }

  .skill-card {
    @apply bg-background-b text-center rounded-md;
  }

  .skill-list {
    @apply p-2 flex flex-wrap justify-center gap-2 sm:gap-0;
  }

  .skill-item {
    @apply flex flex-col justify-center items-center w-fit h-fit sm:mx-1;
  }

  .skill-icon {
    @apply w-[2.5rem] hover:scale-125 transition-transform duration-300;
  }

  .skill-name {
    @apply hidden sm:inline sm:mt-1 sm:text-sm sm:font-light;
  }
}
